.listings-page .container {
  max-width: 60vw;
  margin: 41px auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.listings-page .header {
  background: blue;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  text-decoration: underline solid yellow;
}

.listings-page #categories {
  padding: 5px;
  background-color: #e9ecef;
  border-radius: 6px;
  width: 180px;
}

.listings-page #option-text {
  color: grey;
}