body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.header {
  background: blue;
  text-align: center;
  /* margin-bottom: 20px; */
  padding: .5%;
  color: white;
  text-decoration: underline solid yellow;
}